.showcadPage{
    background: #FFF;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
}
.showcadPage .title{
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.showcadPage img{
    width: 100%;
}


