.bomPage{
    /* min-width: 300px; */
}
.bomPage{
    background: #FFF;
    min-width: 200px;
    flex-shrink: 0;
    border-right: 1px solid #CCC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bomPage >div{
    flex-grow: 1;
    overflow: hidden;
}
.bomPage >div.bomcontent,
.bomPage >div.leftshowcad{
    overflow: hidden;
    position: relative;
}
.bomPage >div.bomcontent>div,
.bomPage >div.leftshowcad>div{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
}
.bomPage >div.bomcontent>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
}
.bomPage >div.bomcontent >div .title{
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #CCC;
}
.bomPage .search{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #CCC
}
.bomPage .search input{
    text-align: center;
    flex-grow: 1;
    margin:10px;
    border:1px solid #CCC;
    line-height: 30px;
}
.bomlist{
    padding: 0 5px;
    overflow-y: scroll;
    flex-grow: 1;
}
.bomli{
    padding:  10px 0;
    border-bottom: 1px solid #DDD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bomli span{
    width: 20%;
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 12px;
    display: block;
    overflow: hidden;
    word-break:break-all;
    text-align: center;
}
.nodata{
    text-align: center;
    line-height: 100px;
}

